// Font Import
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;500;700;800&display=swap");
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

// VARIABLES

/* Colors */
$base-bg-color-dark: #1a1b1e;
$base-bg-color-mid: #282b31;
$base-bg-color-lt: #2a2d33;
$line-color: #2e3138;
$text-color: #7878a3;
$white: #ffffff;
$black: #000000;

/* Brand */
$mid-purple: #ba6bf8;
$light-purple: #f797ff;
$yellow: #fdf19b;
$green: #00ffd1;

$linear: linear-gradient(180deg, #00ffd1 0%, #ba6bf8 50.52%, #f797ff 100%);

$font-body: "Karla", sans-serif;

@mixin button-primary {
  display: inline-block;
  text-decoration: none;
  padding: 1.7rem 5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 350ms ease;
  border-radius: 8px;

  background: radial-gradient(
    165.31% 161% at -63.75% -54%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 95.31%
  );
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(42px);

  &:hover {
    transform: translateY(-5px);
    background: radial-gradient(
      165.31% 161% at -63.75% -54%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.07) 95.31%
    );
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $base-bg-color-mid;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100vh;
  background-color: $base-bg-color-mid;
  color: $text-color;
  line-height: 1.6;
  width: 100%;
  font-family: $font-body;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;

  background: linear-gradient(
    90deg,
    $base-bg-color-mid calc(100% - 0.5px),
    $line-color 0
  );
  background-size: calc((100% - 5 * 0.5px) / 7 + 0.5px) 100%;
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.container-80 {
  width: 80%;
  max-width: 1340px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
}

h1 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: 4.4rem;
  margin-top: 1.5rem;
  font-size: 4.2rem;
  line-height: 1.1;
  font-weight: 700;
}

h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 500;
}

.section-heading {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: $white;
  padding-bottom: 8rem;

  p {
    font-size: 2rem;
    margin-top: 2rem;
    color: $text-color;
  }
}

#header {
  max-height: 100vh;

  #nav {
    background-color: $base-bg-color-mid;
    width: 100%;

    .container-80 {
      height: 12rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-brand {
        height: 3.8rem;
        width: auto;
        -webkit-tap-highlight-color: transparent;
        img {
          height: 100%;
        }

        .text-logo {
          margin-left: 0.3rem;
        }
      }

      .nav-list {
        display: flex;
        list-style: none;

        .socials {
          display: none;
        }

        .nav-item {
          padding: 0 2rem;

          .nav-link {
            text-decoration: none;
            font-size: 1.6rem;
            display: inline-block;
            color: $white;
            font-weight: 500;
            letter-spacing: -0.5px;

            &:hover {
              color: $text-color;
              transition: all 0.15s ease;
            }
          }

          abbr {
            text-decoration: none;
          }

          .active {
            color: $text-color;
          }
        }

        .contact-us-item {
          background: $linear;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 600 !important;
        }
      }

      .nav-list.active .nav-item .nav-link {
        transform: scale(1);
      }

      .nav-list.active .nav-item {
        &:nth-child(1) .nav-link {
          transition-delay: 0.4s;
        }
        &:nth-child(2) .nav-link {
          transition-delay: 0.3s;
        }
        &:nth-child(3) .nav-link {
          transition-delay: 0.2s;
        }
        &:nth-child(4) .nav-link {
          transition-delay: 0.1s;
        }
      }

      .nav-list .nav-item {
        backface-visibility: hidden;

        &:nth-child(1) .nav-link {
          transition-delay: 0.1s;
        }
        &:nth-child(2) .nav-link {
          transition-delay: 0.2s;
        }
        &:nth-child(3) .nav-link {
          transition-delay: 0.3s;
        }
        &:nth-child(4) .nav-link {
          transition-delay: 0.4s;
        }
      }

      .hamburger {
        cursor: pointer;
        z-index: 999;
        position: relative;
        transition: all 0.65s ease;
        right: 0;
        color: $white;
        -webkit-tap-highlight-color: transparent;

        display: none;

        .toggle {
          font-size: 1.5rem;
          font-weight: 600;
          transition: all 0.35s ease;
          letter-spacing: -0.5px;
          -webkit-tap-highlight-color: transparent;

          &::after {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            border-radius: 2px;
            background: $linear;
            margin-top: 3px;
          }
        }
      }
    }
  }

  // HOMEPAGE START

  #hero {
    height: calc(100vh - 12rem);

    .container-80 {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .hero-centered {
        background: url("../img/hero-eclipses.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin-top: -25rem;
        text-align: center;

        h1,
        h2 {
          text-transform: uppercase;
        }

        h1 span {
          color: $green;
        }

        h2 {
          font-size: 2.4rem;
          font-weight: 400;
          margin-top: 3rem;
        }

        a {
          @include button-primary();

          margin-top: 5rem;
          color: $yellow;
        }
      }

      .hero-arc {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%);

        width: 50rem;
        height: auto;

        img {
          width: 100%;
        }
      }
    }
  }
}

// Main

#main {
  .container-80 {
    .services-wo {
      .service-items {
        .item {
          margin-bottom: 6rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .img {
            width: 90rem;
            height: auto;

            svg {
              width: 100%;
            }
          }

          .content {
            margin-left: 8rem;

            h4 {
              font-size: 2rem;
              color: $white;
              font-weight: 500;
            }

            p {
              font-size: 1.6rem;
              margin-top: 3rem;
            }
          }
        }

        .reverse {
          flex-direction: row-reverse;

          .content {
            margin-left: 0;
          }

          .img {
            margin-left: 8rem;
          }
        }

        a {
          display: inline-block;
          margin-top: 2rem;
          background: $linear;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          &::before {
            content: url(../img/ArrowRight.svg);
            margin-right: 2rem;
            transition: all 250ms ease;
          }

          &:hover {
            &::before {
              margin-right: 3.2rem;
            }
          }
        }
      }

      .other-services {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;

        a {
          @include button-primary();
          background: $linear;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-transform: capitalize;

          &:hover {
            background: $linear;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .see-all-services {
        @include button-primary();
        display: block;
        text-align: center;
        margin-top: 6rem;
        color: $yellow;

        display: none;
      }
    }

    .partners-clients {
      margin-top: 20rem;

      .clients {
        display: grid;
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
        gap: 2rem;

        .single-client {
          width: 100%;
          height: 19rem;
          background: $base-bg-color-lt;
          border: 1px solid $line-color;
          border-radius: 8px;
          text-align: center;
          color: $white;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          &:hover {
            background: $base-bg-color-mid;
            color: $text-color;
          }
        }
      }
    }

    .looperloop {
      display: flex;
      justify-content: center;
      // margin-top: -50rem;
    }

    .testimonials {
      margin-top: 10rem;
      display: flex;
      justify-content: space-between;

      .single {
        width: 45%;
      }

      .word {
        font-size: 1.8rem;
        line-height: 2;
        color: $white;
      }

      .profile {
        display: flex;
        align-items: center;
        margin-top: 4rem;

        img {
          display: block;
          width: 6.4rem;
          height: 6.4rem;
        }

        .info {
          margin-left: 2rem;

          .p-name {
            font-size: 2.4rem;
            color: $white;
            font-weight: 500;
          }

          .pos {
            text-transform: uppercase;
            font-size: 1.4rem;
            margin-top: 0.5rem;
            font-weight: 500;
          }
        }
      }
    }

    .bottom-cta {
      background: linear-gradient(
        180deg,
        #2f3238 0%,
        rgba(40, 43, 49, 0.6) 52.6%,
        #2a2d33 100%
      );
      border-radius: 0.8rem;

      margin-top: 12rem;
      padding: 5rem;

      p {
        color: $white;
        font-size: 2rem;

        a {
          text-decoration: underline;
          display: inline-block;
          margin-left: 2rem;
          color: $yellow;

          &:hover {
            color: $white;
          }
        }
      }
    }

    .main-footer {
      margin-bottom: 6rem;
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;

      .left {
        .links {
          display: flex;

          li {
            margin-right: 4rem;

            a {
              text-decoration: none;
              color: $white;

              &:hover {
                color: $text-color;
              }
            }
          }
        }
      }

      .right {
        text-align: right;
        text-transform: uppercase;

        span {
          display: block;
        }

        .title {
          color: $white;
          font-size: 1.6rem;
          font-weight: 400;
        }

        .iscwt {
          margin-top: -0.5rem;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}

// HOMEPAGE ENDS

// OTHER PAGES
// Banner styles

#header {
  .banner {
    width: 100%;
    height: 50rem;
    background: url("../img/arc-r.svg") no-repeat;
    background-position: 60%;
    background-size: 15rem;
    background-color: $base-bg-color-lt;
    display: flex;
    align-items: center;
  }
}

// SERVICES PAGE

.our-services {
  padding-top: 8rem;

  .sidebar {
    width: 25rem;

    .sticky-menu {
      li {
        padding: 1rem 0;

        &:first-child {
          padding: 0;
          padding-bottom: 1rem;
        }
        a {
          color: $text-color;
          font-size: 1.8rem;
          text-transform: capitalize;
          font-weight: 600;

          &:hover {
            color: $white;
          }

          &:active,
          &:focus {
            color: $white;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .sticky-panel {
    position: fixed;
    top: 2rem;
  }

  .service-items {
    padding: 0 4rem;

    .service-item {
      margin-bottom: 4rem;
      .item-title {
        font-size: 1.8rem;
        padding: 1rem 0;
      }

      .item-content {
        margin-top: 1.5rem;
        font-size: 1.8rem;
      }
    }
  }
}

.services-cta {
  margin-top: 12rem;
  background: url("../img/services-cta-img.svg") no-repeat;
  background-position: 26%;

  a {
    @include button-primary();
    margin-top: 2rem;
    color: $yellow;
  }
}

// ABOUT US

.intro {
  margin-top: 8rem;

  .intro-p {
    font-size: 1.8rem;
    color: $white;
  }

  .join-us {
    margin: 15rem 0;
    text-align: center;

    h2 {
      font-size: 8rem;
    }

    a {
      display: inline-block;
      margin-top: 3rem;
      @include button-primary();
      color: $yellow;
    }
  }
}

.core-team {
  .header {
    p {
      margin-top: 2rem;
      font-size: 1.8rem;
    }
  }

  .list-members {
    background: $base-bg-color-lt;
    width: 100%;
    margin: 6rem auto;
    display: flex;
    flex-wrap: wrap;
  }

  .member {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .member-image {
    width: 50%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }

  .member-image img {
    width: 100%;
    height: 100%;
    transition: 1s;
  }

  .member-image:hover img {
    transform: scale(1.1);
  }

  .member-info {
    width: 50%;
    text-align: center;
  }

  .member-info p {
    margin: 20px 0;
  }

  /* style social link */

  .social-link a {
    color: inherit;
  }
  .social-link svg {
    width: 2.4rem;
    height: 2.4rem;
    line-height: 35px;
    margin: 0 7px;
    cursor: pointer;
    transition: transform 0.5s;
  }

  .social-link svg:hover {
    color: $light-purple;
    transform: translateY(-5px);
  }

  .member-image::after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid $base-bg-color-lt;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  @media screen and (min-width: 771px) {
    .member:nth-child(4n + 3) .member-info,
    .member:nth-child(4n + 4) .member-info {
      order: 1;
    }
    .member:nth-child(4n + 3) .member-image,
    .member:nth-child(4n + 4) .member-image {
      order: 2;
    }

    .member:nth-child(4n + 3) .member-image::after,
    .member:nth-child(4n + 4) .member-image::after {
      left: 0;
      right: auto;
      transform: translateY(-50%) rotateZ(180deg);
    }
  }

  /* Mobile Styles */
  @media screen and (max-width: 770px) {
    .list-members {
      width: 100%;
    }
    .member {
      flex-basis: 100%;
      font-size: 14px;
    }
    .social-link svg {
      width: 2rem;
      height: 2rem;
      line-height: 3rem;
    }

    .member:nth-child(even) .member-info {
      order: 1;
    }
    .member:nth-child(even) .member-image {
      order: 2;
    }

    .member:nth-child(even) .member-image::after {
      left: 0;
      right: auto;
      transform: translateY(-50%) rotateZ(180deg);
    }
  }
}

// CONTACT PAGE

.form-area {
  margin-top: 8rem;
  width: 100%;
  height: 70rem;
  border-top: 3px solid $yellow;

  .contact-form {
    background-color: $base-bg-color-lt;
    padding: 4rem 8rem;
    height: 100%;

    h2 {
      margin-bottom: 3rem;
      font-size: 3rem;
      font-weight: 800;
    }

    .form {
      width: 100%;

      div {
        margin-bottom: 4rem;

        label {
          display: block;
          color: $white;
          font-weight: 500;
        }

        input,
        select {
          width: 100%;

          background: transparent;
          box-shadow: none;
          outline: none;
          border: none;
          padding: 1.5rem 0;
          color: $white;
          border-bottom: 1px solid $text-color;

          &::placeholder {
            font-family: inherit;
            color: $text-color;
          }
        }

        input[type="email"] {
          &:active,
          &:focus,
          &:valid {
            background: none;
          }
        }

        select {
          cursor: pointer;
          background-color: $base-bg-color-lt;
          width: 100%;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
        }
      }

      button {
        background: none;
        border: none;
        @include button-primary();
        color: $light-purple;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .for-quote {
    height: 100%;
    background: url("../img/contact-quote-right.svg") no-repeat;
    background-position: top right;

    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    q {
      font-size: 2.4rem;
      color: $white;
    }

    .services-list {
      margin-top: 5rem;
      h5 {
        color: $text-color;
      }

      ul {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;

        li {
          margin-right: 2rem;
          padding: 0.5rem 0;

          &:last-child {
            margin-right: 0;
          }

          a {
            color: $white;
            text-transform: capitalize;

            &:hover {
              text-decoration: underline;
              color: $text-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 978px) {
  .container-80 {
    width: 90%;
  }
  .section-heading {
    width: inherit !important;
    padding-bottom: 4rem;

    p {
      font-size: 1.5rem;
      line-height: 1.6;
      margin-top: 1rem;
    }
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 1.4;
  }

  #header {
    height: auto;
    #nav {
      width: 100%;

      .container-80 {
        width: 90%;
        height: 9rem;
      }

      //
      .hamburger {
        display: block !important;
      }

      .nav-list.active {
        bottom: 0;
      }

      .nav-brand {
        height: 3.2rem !important;
      }
    }

    .banner {
      height: 30rem !important;
      background-position: 80%;
      background-size: 10rem;
    }
  }
  .nav-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $base-bg-color-mid;
    position: fixed;
    bottom: -100vh;
    left: 0;
    transition: bottom 650ms;
    z-index: 998;

    .socials {
      display: block !important;

      .social-links a {
        display: inline-block;
        margin: 0 2rem;
        color: $text-color;

        &:hover {
          color: $white;
        }
      }
    }

    .nav-item {
      margin: 3.4rem 0;
      width: 100%;
      text-align: center;

      .nav-link {
        font-size: 1.6rem !important;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }

  #hero {
    position: static;
    margin-top: 5rem;

    a {
      width: 100%;
    }

    .hero-arc {
      width: 100vw !important;
      height: auto;

      img {
        width: 100%;
      }
    }
  }

  #main {
    .service-items {
      .item {
        margin-bottom: 4rem !important;
        flex-direction: column;

        .img {
          width: 100% !important;
          height: auto;

          svg {
            width: 100%;
          }
        }

        .content {
          margin-top: 2rem;
          margin-left: 0rem !important;

          h4 {
            font-size: 1.7rem !important;
          }

          p {
            font-size: 1.4rem !important;
            margin-top: 1rem !important;
          }
        }
      }

      .reverse {
        flex-direction: column !important;

        .content {
          margin-left: 0;
        }

        .img {
          margin-left: 0rem !important;
        }
      }

      a {
        margin-top: 1rem !important;
        font-size: 1.4rem !important;
      }
    }

    .other-services {
      display: none !important;
    }

    .see-all-services {
      display: block !important;
      width: 100%;
    }

    .partners-clients {
      margin-top: 10rem !important;

      .clients {
        overflow-x: scroll;

        .single-client {
          width: 12rem !important;
          height: 12rem !important;
          font-size: 1.2rem;
        }
      }
    }

    .looperloop {
      display: flex;
      justify-content: center;
    }

    .testimonials {
      margin-top: 6rem !important;
      flex-direction: column;

      .single {
        width: 100% !important;
        margin-bottom: 4rem;
      }

      .word {
        font-size: 1.6rem !important;
        line-height: 1.6 !important;
      }

      .profile {
        margin-top: 2rem !important;

        img {
          display: block;
          width: 4.4rem !important;
          height: 4.4rem !important;
        }

        .info {
          margin-left: 1rem !important;

          .p-name {
            font-size: 1.8rem !important;
          }

          .pos {
            font-size: 1.2rem !important;
          }
        }
      }
    }

    .bottom-cta {
      background: linear-gradient(
        180deg,
        #2f3238 0%,
        rgba(40, 43, 49, 0.6) 52.6%,
        #2a2d33 100%
      );

      margin-top: 2rem !important;
      padding: 2rem !important;

      p {
        font-size: 1.6rem !important;
        text-align: center;

        a {
          margin-left: 1rem !important;
        }
      }
    }

    .main-footer {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;

      .left {
        .links {
          display: flex;
          justify-content: space-evenly;

          li {
            margin-right: 0 !important;
          }

          a {
            font-size: 1.4rem;
          }
        }
      }

      .right {
        margin-top: 4rem;

        span {
          text-align: center;
          display: block;
        }

        .title {
          color: $white;
          font-size: 1.6rem;
        }

        .iscwt {
          margin-top: -0.5rem;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
  }

  // SERVICES PAGE
  .our-services {
    margin-bottom: 6rem;
    margin-top: -2rem !important;

    .is-one-fifth {
      display: none !important;
    }

    .service-items {
      padding: 0 !important;
      margin-top: 0 !important;

      .service-item {
        h4 {
          font-size: 2rem !important;
          font-weight: 500;
        }

        .item-content {
          margin-top: 0.5rem !important;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }

  .services-cta {
    background-position: 5%;
    background-size: 9rem;

    a {
      @include button-primary();
      margin-top: 2rem;
      color: $yellow;
    }
  }

  .intro {
    margin-top: 5rem;

    .intro-p {
      font-size: 1.6rem;
    }

    .join-us {
      margin: 6rem 0;
      h2 {
        font-size: 4rem;
      }
    }
  }

  .core-team {
    h2 {
      font-size: 2rem;
    }

    p {
      margin-top: 1rem !important;
      font-size: 1.4rem !important;
    }
  }
}
