@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;500;700;800&display=swap");
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

$base-bg-color-dark: #1a1b1e;
$base-bg-color-mid: #282b31;
$base-bg-color-lt: #2a2d33;
$line-color: #2e3138;
$text-color: #7878a3;
$white: #ffffff;
$black: #000000;

/* Brand */
$mid-purple: #ba6bf8;
$light-purple: #f797ff;
$yellow: #fdf19b;
$green: #00ffd1;

$linear: linear-gradient(180deg, #00ffd1 0%, #ba6bf8 50.52%, #f797ff 100%);

$font-body: "Karla", sans-serif;